.movie-cart {
    background-color: rgba(24, 24, 24, 0.9);
    color: #fff;
    overflow: hidden;

    .movie-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-top: 100px;
        height: 100vh;

        .left {
            margin-left: 100px;

            .left-title {
                font-size: 25px;
                margin-bottom: 10px;
            }

            .left-security{
                display: flex;
                align-items: center;
                border: 1px solid #606060;
                margin-right: 320px;
                padding: 3px;
                background: #606060;
                margin-top: 10px;

                .left-icon {
                    font-size: 20px;
                    color: #e0e0d1;
                    margin-right: 2px;
                }
            }

            .left-bottom {
                border: 0.5px solid #ccc;
                margin-top: 20px;
                margin-right: 50px;
                margin-bottom: 20px;
            }

            .left-user {
                display: flex;
                align-items: center;

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                .left-user-name {
                    font-size: 22px;
                    font-weight: 500;
                }
            }
        }

        .right {
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0px; 
            }

            &::-webkit-scrollbar-track {
                background: #000;
            }

            .right-content {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-right: 20px;
                padding: 10px;

                &:hover {
                    background: #606060;

                    .right-icon {
                        display: block;
                    }
                }

                .right-title {
                    display: flex;

                    img {
                        width: 180px;
                        height: 90px;
                        object-fit: cover;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }

                .right-icon {
                    position: absolute;
                    right: 99px;
                    display: none;
                }
            }

            .right-bottom {
                border: 0.5px solid #ccc;
                margin-left: 30px;
                margin-right: 70px;
            }
        }
    }
}