.register {
    width: 100vw;
    height: 106vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    ), url('https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg');
    background-size: cover;
    position: relative;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
            }

            .loginButton {
                background-color: red;
                border: none;
                color: #fff;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        border-bottom: 8px solid #222;
        text-align: center;
        padding: 165px 45px;

        h1 {
            color: white;
            max-width: 640px;
            font-size: 50px;
            font-weight: bold;
            margin: auto;
            font-size: 4rem;
        }

        h2 {
            color: white;
            font-size: 26px;
            font-weight: normal;
            margin: 16px auto;
        }

        p {
            color: white;
            font-size: 20px;
            margin-top: 1rem;
        }

        .input {
            display: flex;
            justify-content: center;
            height: 100%;
            margin-top: 20px;
            flex-wrap: wrap;

            input {
                max-width: 530px;
                width: 100%;
                border: 0;
                padding: 10px;
                height: 70px;
                box-sizing: border-box;
                outline: none;

                &::placeholder {
                    font-size: 16px;
                    color: #757575;
                }
            }

            .registerButton {
                display: flex;
                align-items: center;
                height: 72px;
                background: #e50914;
                color: white;
                padding: 0 32px;
                font-size: 26px;
                border: 0;
                cursor: pointer;
            
                &:hover {
                    background: #f40612;
                }

                img {
                    margin-left: 10px;
                    filter: brightness(0) invert(1);
                    width: 24px;
                }
            }
        }
    }
}

@media only screen and (min-width: 550px) and (max-width: 949px), 
only screen and (min-width: 950px) and (max-width: 1449px), only screen and (min-width: 1450px) {
    .our-story-card {
        padding: 70px 45px;
    }
}

.our-story-card {
    position: relative;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    width: 94.15vw;

    .animation-card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10rem;

        .our-story-card-text {
            display: flex;
            flex-direction: column;

            .our-story-card-title {
                font-size: 60px;
                margin-bottom: 0.5rem;
            }

            .our-story-card-subTitle {
                font-size: 1.5rem;
                font-weight: 400;
                margin: 0.75rem 0 0.25rem;
            }

            .getapp {
                line-height: initial;
                display: flex;
                flex-direction: row;
                align-items: center;

                .getapptext {
                    font-size: 1.5rem;
                    margin-top: 1rem;
                }

                .getappimg {
                    margin-left: 10px;
                    filter: brightness(0) invert(1);
                    height: 20px;
                    margin-top: 20px;
                }

                &:hover {
                    cursor: pointer;
                    color: #ebebe0;
                }
            }
        }

        .our-story-card-img-container {
            .our-story-card-img {
                height: auto;
                max-width: 65%;
                margin-left: 6rem;
                margin-top: 3rem;
            }
        } 
    }
}

.accodion-intro {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 4rem;
}

.accodion-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    flex-wrap: wrap;

    input {
        max-width: 500px;
        width: 100%;
        border: 0;
        padding: 10px;
        height: 70px;
        box-sizing: border-box;
        outline: none;

        &::placeholder {
            font-size: 16px;
        }
    }

    .accodion-registerButton {
        display: flex;
        align-items: center;
        height: 70px;
        background: #e50914;
        color: white;
        font-size: 30px;
        border: 0;
        cursor: pointer;
        padding: 30px;
    
        &:hover {
            background: #f40612;
        }

        img {
            margin-left: 10px;
            filter: brightness(0) invert(1);
            width: 24px;
        }
    }
}

.footer {
    padding: 70px 45px;
    background: #000;
    width: 94.15vw;

    .footer-title {
        color: #757575;
        margin-left: 17rem;
        margin-bottom: 40px;
        font-size: 17px;
    }

    .footer-break {
        flex-basis: 100%;
        height: 0;
    }

    .footer-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        grid-gap: 15px;

        @media (max-width: 1000px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
        

        .footer-column {
            display: flex;
            flex-direction: column;
            text-align: left;
            position: relative;
            left: 275px;
            
            .footer-link {
                color: #757575;
                margin-bottom: 20px;
                font-size: 13px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .footer-text {
        font-size: 13px;
        color: #757575;
        margin-bottom: -2rem;
        margin-top: 40px;
        margin-left: 17rem;
    }
}

@media screen and (max-width: 1200px) {
    .register {
        width: 100vw;
        height: 105vh;
        border-bottom: 8px solid #222;

        .top {
            margin: 0 30px;

            .wrapper {
                .logo {
                    margin-left: -10px;
                    // height: 30px;
                }
            }
        }
    }

    .our-story-card {
        .animation-card-container {
            margin-left: 0px;
        }
    }

    .footer {
        padding-right: 155.2px;
        margin-left: -130px;
    }
}

@media screen and (max-width: 992px) {
    .register {
        width: 105vw;
        height: 105vh;
        border-bottom: 8px solid #222;

        .top {
            margin: 0 30px;

            .wrapper {
                padding-top: 40px;

                .logo {
                    margin-left: -10px;
                    // height: 30px;
                }
            }
        }
    }

    .our-story-card {
        width: 95.9vw;

        .animation-card-container {
            margin-left: 0px;
            width: 100vw;
            
            .our-story-card-text {
                .our-story-card-title {
                    font-size: 41px;
                }
            }
        }
    }

    .footer {
        padding-right: 270px;
        margin-left: -210px;

        .footer-row {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-left: -100px;

            .footer-column {
                .footer-link {
                    font-size: 15px;
                }
            }
        }
    }  
}

@media screen and (max-width: 768px) {
    .register {
        width: 142vw;
        height: 120vh;
        border-bottom: 8px solid #222;

        .top {
            margin: 0px 30px;

            .wrapper {
                padding-top: 50px;

                .logo {
                    margin-left: -10px;
                    // height: 30px;
                }
            }
        }

        .container {
            margin-top: -40px;

            .input {
                display: flex;
                flex-direction: column;
                align-items: center;

                .registerButton {
                    margin-top: 20px;
                    padding: 0px 20px;
                    font-size: 20px;
                }
            }
        }
    }
    
    .our-story-card {
        width: 130.3vw;

        .animation-card-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .our-story-card-text {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 180px;

                .our-story-card-title {
                    font-size: 50px;
                }
            }

            .our-story-card-img-container {
                .our-story-card-img {
                    height: 500px;
                    width: 700px;
                    padding-left: 120px;
                }
            }
        }
    }

    .footer {
        width: 134vw;
        margin-left: -250px;

        .footer-title {
            font-size: 20px;
        }
        
        .footer-row {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-left: -90px;

            .footer-column {
                .footer-link {
                    font-size: 20px;
                }
            }
        }

        .footer-text {
            font-size: 20px;
        }
    }  
}