.featured {
    height: 90vh;
    position: relative;

    .category {
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: 30px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
    
        select {
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid white;
            color: white;
            margin-left: 20px;
            padding: 5px;

            option {
                font-size: 15px;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        width: 35%;
        position: absolute;
        left: 50px;
        bottom: 100px;
        color: #fff;
        display: flex;
        flex-direction: column;

        img {
            width: 400px;
        }

        .skeleton-title {
            width: 400px;
            height: 400px;
            border: 1px solid #fff;
            background-color: #fff;
        }

        .desc {
            margin: 20px 0px;

            overflow-y: scroll;
            height: 70px;

            &::-webkit-scrollbar {
                width: 0px; 
            }
        }

        .skeleton {
            margin: 20px 0px;
            border: 1px solid #fff;
            background: #fff;
        }

        .buttons {
            display: flex;
            position: relative;

            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                font-weight: 500;
                margin-right: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;

                &.play {
                    background-color: white;
                    color: var(--main-color);
                }

                &.more {
                    background-color: gray;
                    color: white;
                    margin-right: 302px;
                }

                span {
                    margin-left: 5px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    
}