.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
    ), url("http://mppmduse2pmpovwapp.azurewebsites.net/wp-content/uploads/2019/09/netflix-background-9.jpg");
    background-size: cover;
    position: relative;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 40px;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;

        form {
            width: 300px;
            height: 500px;
            padding: 30px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, .7);
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            input {
                height: 40px;
                border-radius: 5px;
                background-color: #8c8c8c;
                padding-left: 10px;
                margin-top: 10px;
                outline: none;

                &::placeholder {
                    color: lightgray;
                    font-size: 16px;
                }
            }

            button {
                margin-top: 20px;
                height: 50px;
                border-radius: 5px;
                background-color: red;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                padding: 10px 0 10px 0;
            }

            .google {
                display: flex;
                align-items: center;
                cursor: pointer;

                .icon {
                    height: 22px;
                    margin-right: 5px;
                }
            }

            span {
                color: lightgray;

                b {
                    color: #fff;
                }
            }
        }
    }
}