.login {
    width: 100vw;
    height: 146vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .5) 0%,
        rgba(0, 0, 0, .6) 100%
    ), url("https://assets.nflxext.com/ffe/siteui/vlv3/f841d4c7-10e1-40af-bcae-07a3f8dc141a/0c2adf03-1761-41ff-86c1-76eb78c2fea0/VN-vi-20220502-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    position: relative;

    .top {
        margin-left: 3%;
        margin-top: 2%;
        display: inline-block;
        
        .wrapper {
            padding-left: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 54px;
                width: 180px;
                vertical-align: middle;
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
        margin: auto;
        max-width: 490px;
        min-height: 660px;
        padding: 60px 68px 40px;
        margin-bottom: 90px;

        h1 {
            color: #fff;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 28px;
        }

        .error {
            background: #e87c03;
            border-radius: 4px;
            font-size: 14px;
            margin: 0 0 16px;
            color: white;
            padding: 15px 20px;
        }

        .baseForm {
            display: flex;
            flex-direction: column;
            max-width: 450px;
            width: 100%;
            position: relative;

            input {
                background: #333;
                border-radius: 4px;
                border: 0;
                color: #fff;
                height: 50px;
                line-height: 50px;
                padding: 5px 20px;
                margin-bottom: 20px;
                outline: none;
                &:last-of-type {
                    margin-bottom: 30px;
                }
            }

            input::placeholder {
                font-size: 16px;
            }

            .icon {
                position: absolute;
                right: 10px;
                top: 98px;
                cursor: pointer;
            }

            .btnSubmit {
                background: #e50914;
                border-radius: 4px;
                font-size: 16px;
                font-weight: bold;
                margin: 24px 0 12px;
                padding: 16px;
                border: 0;
                color: white;
                cursor: pointer;
                &:disabled {
                    opacity: 0.5;
                }
            }
        }

        .text {
            color: #737373;
            font-size: 16px;
            font-weight: 500;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 500;

            a {
                color: #fff;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .textSmall {
            margin-top: 10px;
            font-size: 1em;
            line-height: normal;
            color: #8c8c8c;
        }
    }

    .footer-login {
        background-color: rgba(0, 0, 0, 0.75);
        padding: 30px 45px 70px;

        .footer-login-title {
            color: #757575;
            margin-left: 17rem;
            margin-bottom: 40px;
            font-size: 17px;
        }

        .footer-login-break {
            flex-basis: 100%;
            height: 0;
        }

        .footer-login-row {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
            grid-gap: 15px;

            @media (max-width: 1000px) {
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            }

            .footer-login-column {
                display: flex;
                flex-direction: column;
                text-align: left;
                position: relative;
                left: 275px;

                .footer-login-link {
                    color: #757575;
                    margin-bottom: 20px;
                    font-size: 13px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .trans {
            margin-left: 17rem;
            margin-top: 2rem;
            display: flex;
            align-items: center;
    
            .trans-icon {
                color: #999;
                position: absolute;
                margin-left: 10px;
            }
        }
    
        .trans > select {
            background-color: #000;
            background-image: none;
            border: 1px solid #333;
            color: #999;
            font-size: 1.1rem;
            padding: 15px 15px 15px 40px;
            border-radius: 5px;
        }
    
        .trans > option {
            font-weight: normal;
            display: block;
            white-space: nowrap;
            min-height: 1.2em;
            padding: 0px 2px 1px;
        }
    }
}