.home {
    background-color: var(--main-color);
    overflow: hidden;

    .movieSearch {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 40px;
    }

    .footer {
        margin-top: 7rem;
        background-color: var(--main-color);
        margin: 0 auto;
        width: 90%;
        color: #757575;
        display: flex;
        flex-direction: column;
        margin-left: 300px;

        .footertop {
            font-size: 1.1em;
            margin-left: 40px;
            margin-top: 15px;
            margin-bottom: 30px;
        }

        .footer-bottom {
            margin-left: 40px;
        }

        .footer-links {
            display: flex;
            margin-bottom: 23px;

            .list-1 {
                list-style-type: none;
                margin-right: 50px;

                li {
                    line-height: 2.5;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#bright {
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);

    &:hover{
        box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
    }
}