.comments-container {

    .client {
        border-radius: 10px;
        color: #fdeeee;
    }

    .comment-container {
        padding: 15px;
        display: flex;
        margin: 5px 170px;
        border: 1px solid #fff;
        border-radius: 10px;

        .left-part {
            margin-right: 15px;

            img {
                height: 40px;
                width: 40px;
                object-fit: cover;
                border-radius: 14px;
                box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
            }
        }

        .right-part {

            .comment-header {
                display: flex;
                align-items: center;

                h3 {
                    text-transform: capitalize;
                }

                span {
                    position: absolute;
                    right: 190px;
                }
            }

            .comment-text {
                display: flex;
                align-items: center;
                margin-top: 10px;

                .comment-text-icon {
                    cursor: pointer;
                    position: absolute;
                    right: 180px;
                    margin-top: 10px;

                    .icon {
                        border-radius: 50%;
                        border: 1px solid #fdeeee;
                        margin-right: 10px;
                        padding: 3px;
                        font-size: 17px;
                        color: #fdeeee;
                        background: #223127;
                    }
                }
            }
        }

        // .right-part {
        //     .comment-header {
        //         margin-bottom: 15px;

        //         .comment-user {
        //             display: flex;
        //             align-items: center;

        //             h3 {
        //                 text-transform: capitalize;
        //                 margin-right: -119px;
        //             }

        //             span {
        //                 margin-left: 800px;
        //             }
        //         }
        //     }

        //     .comment-text {
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-between;

        //         .comment-text-icon {
        //             cursor: pointer;

        //             .icon {
        //                 border-radius: 50%;
        //                 border: 1px solid #fdeeee;
        //                 margin-right: 10px;
        //                 padding: 3px;
        //                 font-size: 17px;
        //                 color: #fdeeee;
        //                 background: #223127;
        //             }
        //         }
        //     }
        // }
    }

    .comment-form {
        margin: 5px 170px 20px 170px;
        display: flex;
        align-items: center;

        .comment-text {
            border-radius: 5px;
            outline: none;
            width: 100%;
            padding: 20px;
        }

        .submit {
            padding: 20px 50px 20px 10px;
            border-radius: 5px;
            outline: none;
            background: #e50914;
            cursor: pointer;
            color: #fff;
            font-weight: 500;
            font-size: 15px;
            margin-left: 7px;
            border: none;

            &:hover {
                background: red;
            }
        }

        .comment-icon {
            position: absolute;
            right: 190px;
            font-size: 20px;
        }
    }
}