.comment-edit {
    padding: 15px 800px 15px 10px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
}

.btn-update {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: 500;
    background: #e50914;
    color: #fff;
    font-size: 14px;
    border: none;

    &:hover {
        background: red;
    }
}