.watch {
    background-color: rgba(24, 24, 24, 0.9);
    color: #fff;
    overflow: hidden;

    .watch-content {
        padding-top: 50px;

        .watch-video {
            padding-top: 5px;
            padding-left: 180px;
    
            .video {
                height: 700px;
                width: 1170px;
            }
        }
    
        .watch-title {
            margin-top: 20px;
            margin-left: 180px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;

            .watch-trend {
                display: flex;
                flex-direction: column;

                .trend {
                    font-size: 13px;
                    margin-bottom: 5px;
                    color: red;
                }

                .title {
                    width: 790px;
                }
            }

            .feel {
                display: flex;
                position: absolute;
                right: 150px;
    
                .feel-like {
                    margin: 0 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .icon {
                        margin-bottom: 10px;
                    }

                    &:hover {
                        cursor: pointer;
                        color: #ccccb3;
                    }
                }
            }
        }
    
        .watch-bottom {
            margin: auto 170px auto 180px;
            border-bottom: 1px solid lightgray;
        }
    
        .watch-desc {
            display: flex;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 150px;
    
            .left {
                height: 100px;
                width: 641px;
                margin-left: 180px;
    
                .desc {
                    font-size: 20px;
                    overflow-y: scroll;
                    height: 170px;

                    &::-webkit-scrollbar {
                        width: 0px; 
                    }
        
                    &::-webkit-scrollbar-track {
                        background: #000;
                    }
                }
            }
    
            .right {
                display: flex;
                flex-direction: column;
                margin-left: 250px;
                margin-top: -10px;
    
                span {
                    font-size: 22px;
                    line-height: 1.5;
                    word-spacing: 4px;
                }
            }
        }

        .watch-img {
            margin-left: 180px;
            display: flex;
            align-items: center;
            margin-bottom: 100px;

            img {
                height: 150px;
                width: 300px;
                margin-right: 20px;
            }
        }

        .watch-reco {
            margin-left: 180px;
            margin-bottom: 100px;
            margin-right: 170px;

            .slider {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                .arrow {
                    position: absolute;
                    right: 130px;
                    cursor: pointer;

                    .sliderArrow {
                        margin-right: 20px;
                    }
                }
            }
            
            .watch-recommend {
                transform: translateX(0px);
                transition: all 1s ease;


                .content {
                    height: 150px;
                    width: 300px;
                    overflow: hidden;
                    margin-right: 20px;
                } 
    
                .zoomin {
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 20px;
    
                    &:hover {
                        -webkit-box-shadow: 1px 2px 23px 5px rgba(255,151,45,0.81); 
                        box-shadow: 1px 2px 23px 5px rgba(255,151,45,0.81); 
                    }
    
                    img {
                        height: 150px;
                        width: 300px;
                        -webkit-transition: all 1s ease;
                        -moz-transition: all 1s ease;
                        -ms-transition: all 1s ease;
                        transition: all 1s ease;
    
                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }

        .footer {
            width: 100%;
        }
    }
}